.product-item {
	position: relative;
	border: 1px solid black;
}

.product-item img {
	width: 100%;
	display: block;
}

.product-item .product-info {
	background-color: black;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	color: white;

	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.product-item:hover .product-info {
	opacity: 0.9;
}
